---
  import Sun from '../images/sun-svgrepo-com.svg'
  import Moon from '../images/moon-svgrepo-com.svg'
---

  <div class="relative ml-1 mr-1 flex items-center">
    <button id="theme-toggle" class="appearance-none border-none flex hover:scale-125 transition">
      <i class="theme-toggle-icon size-5 transition-all" id="moon">
        <Sun width={20} height={20}/>
      </i>
      <i class="theme-toggle-icon size-5 transition-all" id="sun">
        <Moon width={20} height={20}/>
      </i>
    </button>
  </div>
  
<script>
    document.addEventListener("DOMContentLoaded", () => {
      const button = document.getElementById("theme-toggle");

      function getTheme() {
        return localStorage.getItem("theme") || 
          (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
      }
  
      function setTheme(theme: string) {
        if (theme === "dark") {
          document.documentElement.classList.add("dark");
          localStorage.setItem("theme", "dark");
        } else {
          document.documentElement.classList.remove("dark");
          localStorage.setItem("theme", "light");
        }
      }  
      
      setTheme(getTheme());  
      
      const currentTheme = getTheme();
      const sunIcon = document.getElementById("sun");
      const moonIcon = document.getElementById("moon");
      if (sunIcon && moonIcon) {
        sunIcon.classList.toggle('hidden', currentTheme === "light");
        moonIcon.classList.toggle('hidden', currentTheme === "dark");
      }
      
      if (button) {
        button.addEventListener("click", () => {
          const currentTheme = document.documentElement.classList.contains("dark") ? "dark" : "light";
          setTheme(currentTheme === "dark" ? "light" : "dark");
          
          const sunIcon = document.getElementById("sun");
          const moonIcon = document.getElementById("moon");
          
          if (sunIcon && moonIcon) {
            sunIcon.classList.toggle('hidden', currentTheme === "dark");
            moonIcon.classList.toggle('hidden', currentTheme === "light");
          }
        });
      }
    });
</script>
  