---

---


<section class="w-[70%] section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
    <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined">Experiencia Laboral</h2>
    <ol class="relative  mt-16"> 
        <li>
            <div class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
                <div class="relative pb-12 md:col-span-2">
                    <div class="sticky top-0">
                        <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl">•</span>
                        <h3 class="text-xl font-bold text-yellow-400">Prácticas</h3>
                        <h4 class="font-semibold text-xl text-gray-600 dark:text-white">Practicas</h4>
                        <time datetime="2024" class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">2024</time>
                    </div>
                </div>
                <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">
                    Trabajo de practicas
                </div>
            </div>
        </li>
    </ol>
</section>