---
    import React from '../images/react.svg'
    import Tailwind from '../images/tailwind.svg'
    import Laravel from '../images/laravel.svg'
    import Bootstrap from '../images/bootstrap.svg'
    import Js from '../images/js.svg'
    import Php from '../images/php.svg'
    import Java from '../images/java.svg'
    import Html from '../images/html.svg'
    import Mysql from '../images/mysql.svg'
    import Maria from '../images/mariadb.svg'
    import Github from '../images/github.svg'
    import Git from '../images/git.svg'
    import Visual from '../images/visual.svg'
---

<section class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl py-16" id="habilidades">
    <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined">Habilidades técnicas</h2>
    <article class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">   
        <div>
            <h3 class="text-lg front-bold mb-4">Lenguajes</h3>
            <ul class="inline-flex flex-col list-disc list-insid">
                <li class="flex gap-x-2 rounded-full text-xs bg-[#FFCA28] text-white py-1 px-2 mb-1">
                    <Js width={15} height={15} class="text-black"/>
                    <i class="min-w-[22px] text-black text-center">JavaScript</i>
                </li>
                <li class="flex gap-x-2 rounded-full text-xs bg-[#777bb3] text-white py-1 px-2 mb-1">
                    <Php width={15} height={15}/>
                    <i class="min-w-[22px]">PHP</i>
                </li>
                <li class="flex gap-x-2 rounded-full text-xs bg-gray-800 text-white py-1 px-2 mb-1">
                    <Java width={15} height={15}/>
                    <i class="min-w-[22px] text-center">JAVA</i>
                </li>
                <li class="flex gap-x-2 rounded-full text-xs bg-[#E44D26] text-white py-1 px-2 mb-1">
                    <Html width={15} height={15}/>
                    <i class="min-w-[22px] text-center">HTML5</i>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="text-lg front-bold mb-4">Frameworks</h3>
            <ul class="inline-flex flex-col list-disc list-insid">
                <li class="flex gap-x-2 rounded-full text-xs bg-[#0D3B66] text-white py-1 px-2 mb-1">
                    <React width={15} height={15}/>
                    <i class="min-w-[22px] text-center">React</i>
                </li>
                <li class="flex gap-x-2 rounded-full text-xs bg-[#FF2D20] text-white py-1 px-2 mb-1">
                    <Laravel width={15} height={15} class="text-white"/>
                    <i class="min-w-[22px] text-center">Laravel</i>
                </li>                
                <li class="flex gap-x-2 rounded-full text-xs bg-gray-800 text-white py-1 px-2 mb-1">
                    <Tailwind width={15} height={15}/>
                    <i class="min-w-[22px] text-center">Tailwind CSS</i>
                </li>
                <li class="flex gap-x-2 rounded-full text-xs bg-[#563D7C] text-white py-1 px-2 mb-1">
                    <Bootstrap width={15} height={15}/>
                    <i class="min-w-[22px] text-center">Bootstrap</i>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="text-lg front-bold mb-4">Base de datos</h3>
            <ul class="inline-flex flex-col list-disc list-insid">
                <li class="flex gap-x-2 rounded-full text-xs bg-[#4479A1] text-white py-1 px-2 mb-1">
                    <Mysql width={15} height={15}/>
                    <i class="min-w-[22px] text-center">MySQL</i>
                </li>
                <li class="flex gap-x-2 rounded-full text-xs bg-[#003545] text-white py-1 px-2 mb-1">
                    <Maria width={15} height={15}/>
                    <i class="min-w-[22px] text-center">MariaDB</i>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="text-lg front-bold mb-4">Herramientas</h3>
            <ul class="inline-flex flex-col list-disc list-insid">
                <li class="flex gap-x-2 rounded-full text-xs bg-[#FF2D20] text-white py-1 px-2 mb-1">
                    <Git width={15} height={15}/>
                    <i class="min-w-[22px] text-center">Git</i>
                </li>
                <li class="flex gap-x-2 rounded-full text-xs bg-gray-800 text-white py-1 px-2 mb-1">
                    <Github width={15} height={15}/>
                    <i class="min-w-[22px] text-center">GitHub</i>
                </li>
                <li class="flex gap-x-2 rounded-full text-xs bg-[#4479A1] text-white py-1 px-2 mb-1">
                    <Github width={15} height={15}/>
                    <i class="min-w-[22px] text-center">GitHub Pages</i>
                </li>
                <li class="flex gap-x-2 rounded-full text-xs bg-[#003545] text-white py-1 px-2 mb-1">
                    <Visual width={15} height={15}/>
                    <i class="min-w-[22px] text-center">Visual Studio Code</i>
                </li>
            </ul>
        </div>
    </article>
</section>