---
    import ThemeToggle from "../components/ButtonTheme.astro";
---
<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center">
        <a href="#" class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500 text-blue-500">Experiencia</a>
        <a href="#" class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500 text-blue-500">Proyectos</a>
        <a href="#" class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500 text-blue-500">Sobre mí</a>
        <a href="#" class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500 text-blue-500">Contacto</a>
        <ThemeToggle />
    </nav>
</header>
      
