---
    
---
<header>
    <nav class="flex items-center justify-center">
        <div class="flex space-x-4">
            <a href="#" class="text-sm/6 font-semibold text-gray-900">Experiencia</a>
            <a href="#" class="text-sm/6 font-semibold text-gray-900">Proyectos</a>
            <a href="#" class="text-sm/6 font-semibold text-gray-900">Sobre mí</a>
            <a href="#" class="text-sm/6 font-semibold text-gray-900">Contacto</a>
        </div>
    </nav>
</header>
      
