---
    import Gmail from '../images/gmail.svg'
    import Linkedin from '../images/linkedin.svg'
    import Whatsapp from '../images/whatsapp.svg'
    import Github from '../images/github.svg'
    import Cv from '../images/cv.svg'
    import Yo from '../images/yo.webp'
---


<section class="section py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl" id="inicio">
    <div class="flex items-center mb-2 ml-4 md:ml-0">
        <!-- <div class="rounded-full max-w-24 me-2 ml-4 md:ml-0">
            <img src={Yo.src} alt="" class="rounded-full" />      
        </div> -->
        <a href="https://linkedin.com/in/carlos-sandemetrio-628091305/" class="flex items-center transition md:justify-center md:hover:scale-105">
            <div class="flex items-center">
                <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
                    <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"></span>
                    <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"> Disponible para trabajar </div>
                </span>
            </div>
        </a>
    </div>
    <div class="ml-4 md:ml-0">
        <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">Carlos Sandemetrio Guerrero</h1>
        <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"> 
            Desarrollador web junior. Busco aportar con mis conocimientos y proponer soluciones innovadoras en la industria tecnológica.
        </p>
        <nav class="flex flex-wrap gap-4 mt-8">
            <div class="flex flex-col items-center">
                <a href="mailto:sandecarlosguerrero@gmail.com" class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
                    <Gmail width={20} height={20} />
                    Contáctame
                </a>
                <button id="correo" class="text-[12px] mt-1 border-b text-blue-500 dark:text-blue-200 cursor-pointer hover:text-red-500">Copiar Correo</button>
            </div>
            <div>
                <a href="https://linkedin.com/in/carlos-sandemetrio-628091305/" class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
                    <Linkedin width={20} height={20} />
                    Linkedin
                </a>
            </div>
            <div>
                <a href="https://wa.me/+34637697129" class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
                    <Whatsapp width={20} height={20} />
                    Whatsapp
                </a>
            </div>
            <div class="flex flex-col items-center">
                <a href="https://github.com/carlosande99" class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
                    <Github width={20} height={20} />
                    Github
                </a>
            </div>
            <div class="flex flex-col items-center">
                <a href="./carlos_cv.pdf" class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
                    <Cv width={20} height={20} />
                    Descargar CV
                </a>
            </div>
        </nav>
    </div>
</section>

<script>
    const correo = document.getElementById("correo");
    correo?.addEventListener('click', () => {
        const textToCopy = "sandecarlosguerrero@gmail.com";
        const tempInput = document.createElement("input");

        document.body.appendChild(tempInput);

        tempInput.value = textToCopy;

        tempInput.select();

        document.execCommand("copy");

        document.body.removeChild(tempInput);
    })
</script>