---

---


<section class="flex flex-col items-center justify-center w-[70%]">
    <div class="flex justify-center items-center">
        <div class="rounded-full max-w-24 bg-black">
            <img src="https://cdn-icons-png.flaticon.com/512/3577/3577429.png" alt="" class="rounded-full">
        </div>
        <div>
            <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                hola
            </button>
        </div>
    </div>
    <div>
        <h1 class="text-lg">Me llamo Carlos</h1>
        <p> 
            Soy un desarrollador Fullstack con sólidos conocimientos en frontend, creando
            interfaces dinámicas y atractivas, y en backend, diseñando aplicaciones
            completas y funcionales.
        </p>
        <nav>
            <a href="" class="">Contactame</a>
            <a href="" class="">Linkedin</a>
        </nav>
    </div>
</section>