---

---


<section class="section py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
    <div class="flex items-center">
        <div class="rounded-full max-w-24 bg-black">
            <img src="https://cdn-icons-png.flaticon.com/512/3577/3577429.png" alt="" class="rounded-full">
        </div>
        <div class="flex items-center">
            <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
                <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"></span>
                <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"> Disponible para trabajar </div>
            </span>
        </div>
    </div>
    <div>
        <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">Me llamo Carlos</h1>
        <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"> 
            Soy un desarrollador Fullstack con sólidos conocimientos en frontend, creando
            interfaces dinámicas y atractivas, y en backend, diseñando aplicaciones
            completas y funcionales.
        </p>
        <nav class="flex flex-wrap gap-4 mt-8">
            <a href="mailto:sandecarlosguerrero@gmail.com" class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
                Contactame
            </a>
            <a href="https://linkedin.com/in/carlos-sandemetrio-628091305/" class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
                Linkedin
            </a>
        </nav>
    </div>
</section>