---

---

<section class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl py-16">
    <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined">Sobre mí</h2>
    <article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
        <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"> 
            <p>Soy un desarrollador Fullstack con sólidos conocimientos en frontend, creando
                interfaces dinámicas y atractivas, y en backend, diseñando aplicaciones
                completas y funcionales.
                Domino diversos lenguajes de programación, como JavaScript, PHP, Java, HTML y
                CSS, para desarrollar aplicaciones eficientes y escalables. Poseo sólidos
                conocimientos en patrones de diseño, aplicando principios de modularidad y
                optimización de código.
            </p>
        </div>
        <img src="https://cdn-icons-png.flaticon.com/512/3577/3577429.png" alt="" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 ">      
    </article>
</section>