---

---

<section class="section undefined scroll-m-20 w-full container lg:max-w-4xl md:max-w-2xl py-16" id="yo">
    <h2 class="flex items-center text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined">Sobre mí</h2>
    <article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
        <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"> 
            <p>
                Me llamo Carlos Sandemetrio, un programador junior apasionado por el desarrollo web. 
                Me especialicé en desarrollo de aplicaciones web a través de un grado superior (DAW), donde adquirí conocimientos en tecnologías como 
                HTML, CSS, JavaScript, PHP, MySQL y frameworks como Laravel. Me encanta aprender nuevas tecnologías, resolver problemas y crear 
                aplicaciones funcionales e intuitivas.
            </p>
        </div>
        <img src="https://cdn-icons-png.flaticon.com/512/3577/3577429.png" alt="carlos" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 ">      
    </article>
</section>