---
import Header from '../components/Header.astro';
import Inicio from '../components/Inicio.astro';
import Experiencia from './Experiencia.astro';
import Proyectos from './Proyectos.astro';
import SobreMi from './SobreMi.astro';
import background from '../assets/background.svg';
import '../styles/welcome.css';
---

<div id="container">
	<!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
	<Header/>
	<main class="mt-6 flex flex-col items-center justify-center">
		<Inicio/>

		<Experiencia/>

		<Proyectos/>

		<SobreMi/>
	</main>
</div>

<style>
</style>
