---
	
---
<!doctype html>
<html lang="es" data-theme="dark" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Carlos Sandemetrio</title>
	</head>
	<body>
		<slot />
	</body>
</html>
