---
---
<!doctype html>
<html lang="es" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./code.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Mi página web personal.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="index, follow">
		<meta property="og:title" content="Portfolio" />
		<meta property="og:description" content="Página personal de Carlos Sandemetrio" />
		<meta property="og:image" content="https://cdn-icons-png.flaticon.com/512/3577/3577429.png" />
		<meta property="og:url" content="https://carlosande99.github.io/Portfolio/" />
		<meta property="og:type" content="website" />
		<title>Carlos Sandemetrio</title>
	</head>
	<body>
		<slot />
	</body>
</html>
